<header class="header">
  <a href="{{ site.baseurl }}/" class="logo"></a>
  <div class="name"><span>X-Blog</span></div>
  <nav class="menu">
    {% for menu in site.menu -%}

      {%- assign target = "" %}
      {%- if menu.target %}
        {% capture target %}target="{{ menu.target }}"{% endcapture %}
      {%- endif %}

      {%- assign href = menu.url %}
      {%- unless href contains "://" %}
        {% capture href %}{{ site.baseurl }}{{ menu.url }}{% endcapture %}
      {%- endunless -%}

      <a href="{{href}}" {{target}} class="hover-underline">{{ menu.title }}</a>
    {% endfor -%}
  </nav>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?a37c709e8630526f35117c7d01da733c";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</header>
